* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e6e6e6;
}

.form_box {
  max-width: 500px;
  margin: 7% auto;
  background-color: white;
}

.form_box .btn {
  width: 100%;
}
.form_box a {
  text-decoration: none;
}
.form_box p {
  position: relative;
  padding: 15px 0;
}
.form_box p::before {
  content: "";
  position: absolute;
  width: 45%;
  border-bottom: 2px solid #e6e6e6;
  top: 50%;
  right: 0;
}
.form_box p::after {
  content: "";
  position: absolute;
  width: 45%;
  border-bottom: 2px solid #e6e6e6;
  top: 50%;
  left: 0;
}
